<div class="top_text">Privacybeleid van School of Performing Arts</div>
<div class="subtitle">Laatst bijgewerkt: 18 juni 2023</div>

<div class="container">
<div class="text">
voor het gebruik van de School of Performing Arts-app! We waarderen uw vertrouwen in ons en willen u graag informeren over hoe we uw persoonlijke gegevens verzamelen, gebruiken en beschermen in overeenstemming met de regels van de Europese Unie (EU) met betrekking tot gegevensbescherming.<br />
<br />
<b>Verzamelde gegevens</b><br />
We verzamelen de volgende basisgegevens van gebruikers:<br />
Naam: om de app te personaliseren en u te identificeren binnen de app.<br />
E-mailadres: om u in staat te stellen in te loggen op uw account.<br />
Leeftijd: om u een gepersonaliseerd programma aan te bieden dat geschikt is voor uw leeftijd.<br />
<Br />
<b>Gebruik van verzamelde gegevens</b><br />
We gebruiken de verzamelde gegevens uitsluitend voor de volgende doeleinden:<br />
Naam: om de app te personaliseren en een persoonlijke gebruikerservaring te bieden.<br />
E-mailadres: om u in staat te stellen in te loggen op uw account en de beveiliging van uw account te waarborgen.<br />
Leeftijd: om u een gepersonaliseerd programma aan te bieden dat aansluit bij uw leeftijd en vaardigheden.<br />
<Br />
<b>Gegevensbescherming en beveiliging</b><br />
We nemen de beveiliging van uw gegevens serieus en nemen redelijke maatregelen om uw persoonlijke gegevens te beschermen tegen verlies, misbruik, ongeoorloofde toegang, openbaarmaking, wijziging of vernietiging. We bewaren uw gegevens op beveiligde servers en treffen passende technische en organisatorische maatregelen om de vertrouwelijkheid en integriteit van uw gegevens te waarborgen.<br />
<br />
<b>Delen van gegevens</b><br />
We delen uw persoonlijke gegevens niet met derden, tenzij dit wettelijk verplicht is of noodzakelijk is voor het verlenen van onze diensten aan u. We kunnen echter niet verantwoordelijk worden gehouden voor het privacybeleid van externe websites of services waarnaar we mogelijk een link bieden binnen onze app.<br />
<br />
<b>Bewaartermijn van gegevens</b><br />
We bewaren uw persoonlijke gegevens alleen gedurende de periode die nodig is om de hierboven genoemde doeleinden te bereiken, tenzij een langere bewaartermijn wettelijk vereist of toegestaan is.<br />
<br />
<b>Uw rechten</b><br />
U heeft het recht om toegang te krijgen tot uw persoonlijke gegevens die we hebben verzameld en om verzoeken in te dienen om uw gegevens te corrigeren, bij te werken of te verwijderen. U kunt ook bezwaar maken tegen het gebruik van uw gegevens voor marketingdoeleinden. Neem contact met ons op via het onderstaande e-mailadres om gebruik te maken van uw rechten.<br />
<br />
<b>Contactgegevens</b><br />
Als u vragen, opmerkingen of zorgen heeft over ons privacybeleid of onze praktijken met betrekking tot gegevensbescherming, kunt u contact met ons opnemen via het volgende e-mailadres: say@legerdesheils.nl.<br />
<br />
Adresgegevens:<br />
Leger des Heils<br />
Spoordreef 10<br />
Almere<br />
<br />
We behouden ons het recht voor om dit privacybeleid op elk moment te wijzigen of bij te werken. Eventuele wijzigingen in het privacybeleid worden op deze pagina geplaatst met vermelding van de datum van herziening. We raden u aan om regelmatig het privacybeleid te controleren op eventuele wijzigingen.<br />
</div></div>