<div class="top_text">
    MAJORS
</div>

<div class="container">

    <div class="programma_items">
        <div class="programma_item">
            <img src="../../../assets/majors/brass.jpg" alt="brass" class="programma_item_image">
            <div class="programma_item_inside">
                <div class="programma_item_location">Brassx</div>
                <div class="programma_item_description">
                    Een brassband bestaat uit koperen blaasinstrumenten (zoals een cornet, euphonium of trombone) en drums/percussie. Deze band werd bekend door het Leger des Heils en je vindt deze muziekstijl tegenwoordig overal ter wereld, zelfs buiten het Leger des Heils!<br />
                    <br />                    
                    Speel jij een instrument dat in deze band thuishoort en ben je op zoek naar leuke en uitdagende muziekstukken om te spelen? Dan is Brass als hoofdvak echt iets voor jou! Meld je snel aan en ontdek hoe gaaf het is om deel uit te maken van een brassband.</div>
            </div>
        </div>
        <div class="programma_item">
            <img src="../../../assets/majors/MMS.jpg" alt="mms" class="programma_item_image">
            <div class="programma_item_inside">
                <div class="programma_item_location">Modern Music (MMS)</div>
                <div class="programma_item_description">
                    Een brassband bestaat uit koperen blaasinstrumenten (zoals een cornet, euphonium of trombone) en drums/percussie. Deze band werd bekend door het Leger des Heils en je vindt deze muziekstijl tegenwoordig overal ter wereld, zelfs buiten het Leger des Heils!<br />
                    <br />                    
                    Speel jij een instrument dat in deze band thuishoort en ben je op zoek naar leuke en uitdagende muziekstukken om te spelen? Dan is Brass als hoofdvak echt iets voor jou! Meld je snel aan en ontdek hoe gaaf het is om deel uit te maken van een brassband.</div>
            </div>
        </div>
    </div>
</div>