header {
    padding: 0 16px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 1;
}

header .menu {
    text-align: left;
    width: 100%;
    padding-left: 30px;
}

header .menu .menu_item {
    display: inline-block;
    padding: 30px 12px;
    text-decoration: none;
    font-weight: bold;
}

header .menu .menu_item a {
    color: #ffffff;
    text-decoration: none;
    font-size: 12pt;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
}

header .image_right {
    float: right;
}

header .image_right img {
    margin-top: -90px;
}

main {
    padding: 20px;
}

@media screen and (max-width: 900px) {
    header .image_right img {
        margin-top: -60px;
        height: 350px;
    }
}

@media screen and (max-width: 600px) {
    header .image_right img {
        margin-top: -30px;
        height: 250px;
    }
}

@media screen and (max-width: 500px) {
    header .image_right img {
        /* display: none; */
    }
}

.container_background {
    display: block;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.4;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    transition: background-image 500ms;
}