<div class="top_text">
    OVER SPA
</div>
<div class="top_disclaimer">
    *Onder voorbehoud van wijzigingen
</div>

<div class="container">

    <div class="programma_items">
        <div class="programma_item">
            <div class="programma_item_inside">
                <div class="programma_item_location">Theehuis</div>
                <div class="programma_item_time">Vanaf 11:00</div>
                <div class="programma_item_description">Aankomst! Meld je bij het theehuis, ontvang het SPA
                    jublium-shirt (indien besteld) en ga op zoek naar andere bekende (oud) SPA/Muziekkamp deelnemers
                </div>
            </div>
        </div>
        <div class="programma_item">
            <div class="programma_item_inside">
                <div class="programma_item_time">12:30</div>
                <div class="programma_item_location">Grasveld</div>
                <div class="programma_item_description">Vanaf half 1 staan de foodtrucks voor je klaar op het grote
                    grasveld!</div>
            </div>
        </div>
        <div class="programma_item">
            <div class="programma_item_inside">
                <div class="programma_item_time">13:30</div>
                <div class="programma_item_location">Congreshal</div>
                <div class="programma_item_description">Om half 2, in de congreshal, trapt de SPA Band af met een
                    knallende opening!</div>
            </div>
        </div>
        <div class="programma_item">
            <div class="programma_item_inside">
                <div class="programma_item_time">14:00</div>
                <div class="programma_item_location">Diverse ruimtes</div>
                <div class="programma_item_description">Doe mee met jouw favoriete art: Dance, Brass, Choir, Theatre of Modern
                    Music!</div>
            </div>
        </div>
        <div class="programma_item">
            <div class="programma_item_inside">
                <div class="programma_item_time">17:30</div>
                <div class="programma_item_location">Eetzaal</div>
                <div class="programma_item_description">Om 17:30, in de eetzaal, is het tijd voor het avondeten!</div>
            </div>
        </div>
        <div class="programma_item">
            <div class="programma_item_inside">
                <div class="programma_item_time">19:00</div>
                <div class="programma_item_location">Congreshal</div>
                <div class="programma_item_description">Het avondprogramma tijdens de reünie wordt echt speciaal! Met
                    presentatoren uit de afgelopen 20 jaar en onderdelen die je een trip down memory lane bezorgen naar
                    de afgelopen twee decennia.</div>
            </div>
        </div>
        <div class="programma_item">
            <div class="programma_item_inside">
                <div class="programma_item_time">21:30</div>
                <div class="programma_item_location">Theehuis</div>
                <div class="programma_item_description">'s Avonds kun je (net als vroeger, weet je nog?) snacken voor
                    een goed doel! Scoor een frietje of snack voor slechts €1 en steun daarmee een jongerenkamp in
                    Tsjechië!</div>
            </div>
        </div>
    </div>
</div>