/* .outer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
} */

.bottom {
    justify-content: center;
    position: fixed;
    padding: 25px;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    color: white;
    font-family: "Vina Sans", sans-serif;
}

.middle {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}

.date {
    display: block;
    text-transform: uppercase;
    color: white;
    font-family: "Vina Sans", sans-serif;
    font-size: 80pt;
    text-align: center;
}

.date>.small {
    font-size: 30pt;
    text-align: center;
    display: block;
}

.date>.smaller {
    font-size: 12pt;
    text-align: center;
    display: block;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    padding-top: 10px;
}

.bottom>.poweredby {
    font-size: 20pt;
    text-align: center;
    display: block;
}

.bottom>.poweredby>img {
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 800px) {
    .date {
        font-size: 50pt;
    }

    .join_us {
        margin: 100px auto 0 auto;
        font-size: 14pt;
    }

    .join_us>.title {
        margin-bottom: 20px;
        margin-left: -20px;
        margin-top: 50px;
    }
}

@media screen and (max-width: 450px) {
    .date {
        font-size: 40pt;
    }

}

.button {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 20pt;
    font-weight: 100;
    padding-top: 30px;
    text-align: center;

    text-shadow: none;
}

.button a {
    color: white;
    background-color: #D50000;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;

    transition: background-color 0.2s ease;
}

.button a:hover {
    color: white;
    background-color: #9B0000;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.join_us>.subtext {
    font-size: 10pt;
    padding-top: 10px;
    text-align: center;
}