<!-- <div class="top_text">
    VIER 75 JAAR SPA!
</div> -->

    <div class="join_us">
        <div class="title">What is SPA?</div>
        Ben jij tussen de 9 en 30 jaar? Wil jij een week lang worshippen, muziek maken, zingen, dansen en/of in een theater stuk spelen? Dan is SPA wat voor jou! Kom deze zomer naar ons kamp in Ede en ontdek meer over het boeiende thema 'Footprint'.<br />
        <div class="button"><a href="/spa">Meer informatie</a></div>
    </div>

<div class="bottom">
    <!-- <div class="button">
        <a href="https://store.ticketing.cm.com/SPA-Reunie-2023" target="_blank">Aanmelden</a>
    </div> -->

    <div class="date">
        22.07.23 - 28.07.23<br />
        <div class="small">Powered by <img src="../../../assets/schild.svg" height="50" /> Leger des Heils</div>
    </div>
</div>