/** .top_text horizontal center, all caps, white color **/
.top_text {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: white;
    font-family: "Vina Sans", sans-serif;
    font-size: 60pt;
    padding-top: 0px;
    padding-bottom: 500px;
    text-align: center;
}

.bottom {
    position: fixed;
    padding: 25px;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.join_us {
    justify-content: center;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 16pt;
    font-weight: 300;
    padding: 20px;
    text-align: center;
    max-width: 1000px;
    margin: 200px auto 0 auto;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}

.join_us > .title {
    font-size: 40pt;
    font-weight: 700;
    text-align: left;
    font-family: "Caveat", sans-serif;
    transform: rotate(-4deg);
    margin-bottom: 40px;
    margin-left: -40px;
    margin-top: 25px;
}

.date {
    display: block;
    justify-content: center;
    text-transform: uppercase;
    color: white;
    font-family: "Vina Sans", sans-serif;
    font-size: 40pt;
    padding-top: 10px;
    text-align: center;
}

.date>.small {
    font-size: 20pt;
    text-align: center;
    display: block;
}
.date>.poweredby {
    font-size: 20pt;
    text-align: center;
    display: block;
}

.date>.poweredby>img {
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 800px) {
    .date {
        font-size: 30pt;
    }

    .join_us {
        margin: 100px auto 0 auto;
        font-size: 14pt;
    }

    .join_us > .title {
        margin-bottom: 20px;
        margin-left: -20px;
        margin-top: 50px;
    }
}

@media screen and (max-width: 450px) {
    .date {
        color: white;
        font-family: "Vina Sans", sans-serif;
        font-size: 28pt;
        padding-top: 10px;
    }

}

.button {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 20pt;
    font-weight: 100;
    padding-top: 30px;
    text-align: center;

    text-shadow: none;
}

.button a {
    color: white;
    background-color: #D50000;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;

    transition: background-color 0.2s ease;
}

.button a:hover {
    color: white;
    background-color: #9B0000;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.join_us>.subtext {
    font-size: 10pt;
    padding-top: 10px;
    text-align: center;
}