<!-- <div class="top_text">
    VIER 75 JAAR SPA!
</div> -->

<div class="join_us">
    <div class="title">NEW YEAR'S PARTY</div>
    Wil jij het nieuwe jaar starten met een leuk feestje en ben je tussen de 9 en 30 jaar?<Br />Kom op 20 januari naar de New Year's Party van School of Performing Arts! Net als tijdens het SPA-kamp volg je een Major, gaan we Sporten, is er Bijbelstudie & Worship en sluiten we af met snacken!<br />
    <div class="button"><a href="https://store.ticketing.cm.com/SPA2024-NEW-YEAR" style="width: 275px">Aanmelden</a></div>
    <div class="title">What is SPA?</div>
    <!-- Ben jij tussen de 9 en 30 jaar? Wil jij een week lang worshippen, muziek maken, zingen, dansen en/of in een theater stuk spelen? Dan is SPA wat voor jou! Kom deze zomer naar ons kamp in Ede en ontdek meer over het thema van 2023: 'Footprint'.<br /> -->
    Ben jij tussen de 9 en 30 jaar? Wil jij een week lang worshippen, muziek maken, zingen, dansen en/of in een theater
    stuk spelen? <br />
    <br />
    Elke zomer organiseren wij een week lang kamp in Ede. Hier volg je een Major en een Minor, ga je sporten, is er bijbelstudie, worship, en verschillende avondactiviteiten! Wil je meer weten? Klik op de knop hieronder voor alle informatie.<br />
    <div class="button"><a href="https://www.legerdesheils.nl/spa" style="width: 275px">Meer informatie</a></div>
</div>

<div class="bottom">
    <div class="date">
        <div class="small">Volgende SPA-Kamp</div>
        20.07.24 - 26.07.24<br />
        <div class="poweredby">Powered by <img src="../../../assets/schild.svg" height="50" /> Leger des Heils</div>
    </div>
</div>